<header class="z-10 py-4 bg-white border-b">
    <div class="container flex items-center h-full px-6 mx-auto text-purple-600 justify-end">
        <ul class="flex items-center flex-shrink-0 space-x-6">
            <!-- Profile menu -->
            <li class="relative">
                <button class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none"
                    routerLink="/app/profile"
                    aria-label="Account" aria-haspopup="true">
                    <ion-icon name="person-circle" class="text-4xl text-gray-500"></ion-icon>
                </button>
            </li>
        </ul>
    </div>
</header>