@import "~@ng-select/ng-select/themes/default.theme.css";

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9333ea;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7622c4;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #6200802f;
}

ion-icon {
  pointer-events: none;
}

.is-invalid {
  border: 1px solid #fa4040;
}

.main {
  width: calc(100% - 256px);
  position: absolute;
  left: 256px;
}

@media (max-width: 1023px) {
  .main {
    width: 100%;
    position: static;
  }
}

.ngx-pagination {
  padding-left: 0px !important;
  margin-top: 30px;
}

.ngx-pagination .current,
.btn-info {
  background: #9333ea !important;
  border: transparent !important;
  border-radius: 4px !important;
}

.ngx-pagination .current:hover {
  background: #9233ead7 !important;
  border: transparent !important;
}

.editor-con {
  height: calc(100% - 200px);
  background-color: white;
}

quill-editor {
  height: 100%;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #8000801a;
}