@import "~@ng-select/ng-select/themes/default.theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  /* scroll-behavior: smooth; */
}

:root {
  --gradient: linear-gradient(to right, #7b4490, #c32e3c);
}

.gradient {
  background-image: var(--gradient);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9333ea;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7622c4;
}

ion-icon {
  pointer-events: none;
}

.is-invalid {
  border: 1px solid #fa4040;
}